@using Golden_CRM.Models
@model IEnumerable<Golden_CRM.Models.Customer>

@{
    Layout = "_Layout";
}


<h1>Golden CRM</h1>
<h2>All Customers</h2>
<div class="cust-index-contain">
    <table id="ind-cust-contain">
        <tbody >

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td><a asp-page="/Customers/Customer" asp-route-id="@item.ID" id="button-new">Details</a></td>
                </tr>
            }

        </tbody>
    </table>

    <div class="header-outer">
        @{<partial name="_RecentCustomers" />}
    </div>
    <div id="component">
        @await Component.InvokeAsync("Search")
    </div>
</div>

<h1>Upload Customers</h1>
<div id="form-contain">
    <form asp-controller="Customers" asp-action="Upload">
        <div id="url-contain">
            <label>File</label>
            <input type="file" id="input" name="csv" />
        </div>
        <div id="but-contain">
            <button type="submit" value="Save" id="button">Upload</button>
        </div>
    </form>
</div>
