@using Golden_CRM.Models
@model Golden_CRM.Models.Note
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Add a note</h1>
<div>
    <div id="form-contain">
        <form method="post" enctype="multipart/form-data" id="form">
            @*<input asp-for="CustomerID" type="hidden" name="customerID" value="@Model.CustomerID" id="input"/>*@
            <div>
                <label asp-for="@Model.CustomerID"></label>
                <input asp-for="@Model.CustomerID" id="input" />
            </div>
            <div>
                <label asp-for="@Model.Comment"></label>
                <input asp-for="@Model.Comment" id="input" />
            </div>

            <div id="button-contain">
                <button type="submit" value"Save" id="button">Save</button>
            </div>
        </form>
    </div>
</div>
