@using Golden_CRM.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model Golden_CRM.Models.Note
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}
@{
    var email = @User.Claims.First(c => c.Type == "Email").Value;
}
<h1>Edit note</h1>
<div>
    <div id="form-contain">
        <form method="post" enctype="multipart/form-data" id="form">
            <input type="hidden" asp-for="@Model.ID" id="input" />
            <input type="hidden" asp-for="@Model.UserID" value="@email" id="input" />
            <input type="hidden" asp-for="@Model.CustomerID" id="input" />
            <div>
                <label asp-for="@Model.Comment"></label>
                <input asp-for="@Model.Comment" id="input" />
            </div>

            <div id="button-contain">
                <button type="submit" value"Save" id="button">Edit/Save</button>
            </div>
        </form>
        <form asp-controller="Notes" asp-action="Delete">
            <input type="hidden" asp-for="@Model.ID" id="input" />
            <input type="hidden" asp-for="@Model.CustomerID" id="input" />
            <button id="button" type="submit">Delete</button>
        </form>
    </div>
</div>