

@using Microsoft.AspNetCore.Identity
@using Golden_CRM.Models
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@model Golden_CRM.Models.Note


@{
    var email = @User.Claims.First(c => c.Type == "Email").Value;
}
<h1>Add a note</h1>
<div>
    <div id="form-contain">
        <form asp-controller="Notes" asp-action="Create">
            <input type="hidden" asp-for="@Model.CustomerID" id="input" />
            <input type="hidden" asp-for="@Model.UserID" value="@email" id="input" />
            <div>
                <label asp-for="@Model.ContactType" class="control-label"></label>
                <select asp-for="@Model.ContactType" class="form-control" asp-items="@Html.GetEnumSelectList<Golden_CRM.Models.ContactTypes>()"></select>
                <span asp-validation-for="@Model.ContactType" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Comment"></label>
                <input asp-for="@Model.Comment" id="input" placeholder="Add comment here"/>
            </div>

            <div id="button-contain">
                <button type="submit" value"Save" id="button">Save</button>
            </div>
        </form>

    </div>
</div>